/*body {font-family : Verdana; font-size:10px;}*/

pre {border:1px solid grey; background:#cccccc; padding:10px;}

span.em { font-style:italic; text-decoration:underline;}

#res, #res2 {margin-top:20px}

table.pivot ul {list-style-image:none; list-style-type:none; }

table.pivot {border-collapse : collapse;border : solid 1px black;text-align : right;}

table.pivot td.resultcell, table.pivot .foldunfold{text-decoration : underline; cursor:pointer;  white-space:nowrap; border : solid 1px black; border-color:#999999;background-color : #eeeeee; }

table.pivot th, table.pivot td{padding :5px;}

table.pivot tr.head{font-size : larger;text-align : center;}

table.pivot .total{background-color : #ffbd59;  white-space:nowrap;}

table.pivot tr.total th{text-align : left;}

table.pivot tr.total td, table.pivot tr.total th{border-top : solid 1px black;}

table.pivot td.total{border-left : solid 1px black;}

table.pivot tr.head th.groupby{background-color : #cccccc; border : solid 1px black; border-color:#999999;}

table.pivot tr.head th.pivotcol{background-color : #eee;font-size :10px;  border : solid 1px black; border-color:#999999; }

table.pivot th.groupby{text-align:left;font-size:10px; }

table.pivot .foldunfold
{
    border :  1px ;  
    color : Black;
/* 	background-image : url('images/navigate_minus.png'); */
	background-repeat : no-repeat;
	background-position:left;
	padding-left:18px;
}

table.pivot .foldunfold.collapsed{
/* 	background-image : url('images/navigate_plus.png'); */
}

/**********************Estilos de listas********************/


.container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    cursor: default;
}
.wishlistContainer, .catalogContainer {
    margin-right: 20px;
}
.catalogContainer ul {
    height: 300px;
}

.wishlistContainer ul {
    height: 300px;
}

/*******************************************************/
.dojoDndItem {
    padding: 3px;
}
.dojoDndItemOver {
    background-color: #EDEDED;
    cursor: pointer;
}
.dojoDndItemSelected {
    background-color: #5BBDEA;
    color: #444444;
}
.dojoDndItemAnchor {
    background-color: #5BBDEA;
    color: black;
}
.dojoDndItemOver .dojoDndItemSelected {
    background-color: #EDEDED;
}
.dojoDndItemOver .dojoDndItemAnchor {
    background-color: #EDEDED;
}
.dojoDndItemBefore, .dojoDndItemBefore > td {
    border-top: 2px solid #336699;
}
.dojoDndItemAfter, .dojoDndItemAfter > td {
    border-bottom: 2px solid #336699;
}
.dojoDndAvatar {
    border: 2px solid #CCCCCC;
}
.dojoDndAvatarHeader {
    background-color: #AAAAAA;
}
.dojoDndAvatarItem {
    background-color: #FFFFFF;
    border-bottom: 1px solid #666666;
}
.dojoDndAvatarItem .itemText {
    font-size: 120%;
}

/*----------------------------Estilo para graficas dinamicas----------------------------------------------*/

#contenedor {
	width:1000px;
	border: solid 1px #CCCCCC;
	min-height:640px;
	margin: 0 auto;
}
#menuini {
	font-weight:bold;
	padding:5px;
}
#coizq {
	width:24%;
	min-height:200px;
	float:left;
}
#coizq h3 {
	margin:5px;
	font-size:12px;
}
#coizq ol li {
	margin:0px!important;
	font-size:12px!important;
	list-style:square!important;
	line-height: 13px!important;
}
#coizq ol {
	padding:0px 0px 0px 15px!important;
	margin:5px!important;
}
#ccont {
	width:50%;
	min-height:200px;
	float:left;
}
#seleccion {
	padding:5px;
	border: solid 1px #CCCCCC;
}
#tSeleccionScroll{
overflow-y:scroll;
	overflow-x:hidden;
	border: solid 1px #CCCCCC;
}
#tSeleccion div{
	padding:15px;
	
	height:90px;
	
	margin-bottom:5px;
	font-size:12px!important;
}
#graficas {
	padding:5px;
}
#codder {
	width:25%;
	float:left;
	min-height:200px;
}
#consultaCnst h4{
	margin:5px;
}
#codder h3 {
	margin:5px;
	font-size:12px;
}
#codder ol li {
	margin:0!important;
	font-size:12px!important;
	list-style:square!important;
	line-height: 13px!important;
}
#codder ol {
	padding:0px 0px 0px 15px!important;
	margin:5px!important;
}
#listas {
	overflow-y:scroll;
	overflow-x:hidden;
	height:90px;
	border: solid 1px #CCCCCC;
	margin-bottom:5px;
	font-size:12px!important;
}
#listas ol {
	height:100px;
	width:110px;
	padding:0px!important;
	margin:15px!important;
}
#listas ol li{
	width: 200px!important;
	list-style: disc;
}
#h3Lst {
	padding: 0;
	margin: 0;
}
/*----------------------Tiny Carousel-----------------------------*/

#slider { 
/* 	height: 1%;  */
	overflow:hidden; 
	padding: 0 0 10px;   
	}

#slider .viewport { 
	float: left;
	width:  780px; 
	height: 115px; 
	overflow: hidden; 
	position: relative; }

#slider .buttons { 
	background:url("../img/buttons.png") no-repeat scroll 0 0 transparent; 
	display: block; 
	margin: 30px 10px 0 0; 
	background-position: 0 -38px; 
	text-indent: -999em; 
	float: left; 
	width: 39px; 
	height: 37px; 
	overflow: hidden; 
	position: relative; }

#slider .next { 
	background-position: 0 0;
	 margin: 30px 0 0 10px;
	   }

#slider .disable { 
	visibility: hidden; 
	}

#slider .overview { 
	list-style: none;
	position: absolute; 
	padding: 0; 
	margin: 0; 
	width: 240px; 
	left: 0; 
	top: 0; }

#slider .overview li{ 
	float: left; 
	margin: 0 22px 0 0; 
	padding: 1px; 
/* 	height: 121px;  */
/* 	border: 1px solid #dcdcdc;  */
	width: 236px;}

.requeridos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #990000;
        font-weight: bold;
}